#text-box {
  width: 100%;
  flex-wrap: wrap;
  background-color: #F5F1EC;
  border: none;
  border-bottom: 5px solid black;
  padding-left: 1em;
  padding-right: 1em;
}

.bottom-body {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
  padding-top: 0.5em;
}

.tweet-button {
  background-color: #434EA7;
  color: #FFF;
}