#text-box {
  width: 100%;
  background-color: #F5F1EC;
  border: none;
  border-bottom: 5px solid black;
}

.bottom-body {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", cursive;
  padding-top: 0.5em;
}

.tweet-button {
  background-color: #434EA7;
  color: #FFF;
}

.error-box {
  border: 5px solid red;
  color: red;
  font-size: 25px;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
}

h4 {
  margin: 0;
}